<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Mitt konto</h1>
    <article>
        <p>Användarnamn: <span id="username"></span></p>
        <p>Roll: <span id="role"></span></p>
    </article>

    <section class="hide" id="admin-area">
        <h2>Admin</h2>
        <button id="send">Click me</button>
    </section>

    <script src="js/account.js"></script>
</body>
</html>