<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Skapa konto</title>
</head>
<body>
    <main class="wrapper">
        <h1>Skapa konto</h1>
        <section class="form-inputs">
            <label for="username">Välj användarnamn</label>
            <input type="text" id="username" class="form-input">
        </section>
        <section class="form-inputs">
            <label for="pass">Välj lösenord</label>
            <input type="password" id="pass" class="form-input">
        </section>
        <button id="submit" class="form-button">Skapa konto</button>
    </main>

    <script src="js/createAccount.js"></script>
</body>
</html>