<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Skapa konto</title>
</head>
<body>
    <main class="wrapper">
        <h1>Skapa konto</h1>
        <section class="form">
            <label for="username">Välj användarnamn</label>
            <input type="text" id="username" class="input-field">
            <label for="pass">Välj lösenord</label>
            <input type="password" id="pass" class="input-field">
        </section>
        <article>
            <p id="length">Längd: </p>
            <p id="lowercase">Lowercase: </p>
            <p id="uppercase">Uppercase: </p>
            <p id="number">Number: </p>
            <p id="specialCharacter">Special character: </p>
        </article>
        <button id="submit" class="button">Skapa konto</button>
    </main>

    <script src="js/createAccount.js"></script>
</body>
</html>