<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <main class="wrapper">
        <section class="form-inputs">
            <label for="username">Användarnamn</label>
            <input type="text" id="username" class="form-input">
        </section>
        <section class="form-inputs">
            <label for="pass">Lösenord</label>
            <input type="password" id="pass" class="form-input">
        </section>
        <article>
            <p id="errorMessage" class="hide">Användarnamn eller lösenord är inte korrekt.</p>
        </article>
        <button id="submit" class="form-button">Logga in</button>
        <a href="createAccount.html">Skapa ett konto</a>
    </main>

    <script src="js/client.js"></script>
</body>
</html>